body {
  background-color: #202020;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  width: 100%;
  border: 0px solid rgb(187, 187, 187);
  justify-content: left;
  background-color: transparent; 
  padding: 10px;
  margin-left: 0px;
  margin-top: -10px;
  align-items: center;
}
.navbar-logo {
  justify-content: left;
  margin-top: 2px;
}
.navbar-button-cadastro{
  justify-content: start; 
}
.navbar-buttons {
  margin-left: auto;
  margin-right: 20px;
}
.navbar-button-style {
  background-color: transparent; 
  border: transparent;
  color: rgb(230, 230, 230); 
  padding: 14px 15px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.navbar-button-style:hover {
  background-color: rgb(206, 206, 206);
  color: black;
}

.box {
  width: 500px;
  height: 500px;
  border: 1px solid white; 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; 
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.datepicker-container {
  display: flex;
  justify-content: flex-end; 
  padding: 200px; 
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}